name: Cipher CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  PYTHON_VERSION: '3.13'

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Code Quality & Lint & Test

    steps:
    - uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Ruff
      run: ruff check src

#    - name: Run mypy
#      run: mypy src
    - name: Run bandit
      run: bandit -q -r src -c bandit.yml

    - name: Check dependencies security
      run: safety check
      continue-on-error: true

    - name: Run Pytest
      run: pytest tests
